<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
 <!--    <link rel="icon" href="../../favicon.ico"> -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <script src="../../public/js/jQuery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="../../public/js/bootstrap-3.3.7/bootstrap.min.js"></script>
<!--     <script src="../public/js/bootstrap-v4.0.0/tether.min.js"></script> -->
    <script src="../../public/js/surveyjs-0.12.16/survey.jquery.js"></script>
    


    <link href="../../public/css/bootstrap-3.3.7/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/surveyjs-0.12.16/survey.css" type="text/css" rel="stylesheet" />
    <link href="../../public/css/bootstrap-3.3.7/ie10-viewport-bug-workaround.css" rel="stylesheet">

  </head>

  <body>
   <nav class="navbar navbar-inverse navbar-fixed-to navbar-custom">
      <div class="container" role='navigation'>
        <div class="navbar-header"> 
          <a class="navbar-brand" href="/telesales">
            <img alt="Brand" src="../../public/images/eTRACE-logo_small.png" class="img-responsive">
          </a>              
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li >  
                <a href="#">
                  <img alt="Brand" src="../../public/images/user.png" class="img-responsive custome-icon">
                </a>                
            </li> 
            <li>
                <a href="/logout">
                    <img alt="Brand" src="../../public/images/logout.png" class="img-responsive custome-icon">          
                </a>               
            </li>
          </ul>
        </div>
      </div>
    </nav>